<%- include('../partials/header.ejs') %>
<section class="login">

    <div class="login-container">
        <h2 class="login-title">LOGIN</h2>
        <form class="login-form" method="POST" action="/login">
            <div class="login-email">
                <label for="email"><img src="/images/icons8-email-128.png"></label>
                <input placeholder="Email..." name="email" class="input" type="text">
            </div>
            <div class="login-password">
                <label for="email"><img src="/images/icons8-lock-30.png"></label>
                <input placeholder="Password..." name="password" class="input" type="password">
            </div>
            <input class="submit" type="submit">
        </form>
        <a class="sign-up" href="/register">SIGN UP TODAY</a>
    </div>

<%- include('../partials/footer.ejs') %>

</section>

