<%- include('../partials/header.ejs') %>

<form method="/login" action="POST">
    <input name="email" class="input" type="text">
    <input name="password" class="input" type="password">
    <input class="submit" type="submit">
</form>

<%- include('../partials/footer.ejs') %>
