<%- include('../partials/header.ejs') %>
<section class="register">

    <div class="register-container">
        <h2 class="login-title">REGISTER</h2>
        <form class="register-form" method="POST" action="/register">
            <input name="first_name" placeholder="First name..." class="input" type="text">
            <input name="surname" placeholder="Surname..." class="input" type="text">
            <input name="username" placeholder="Username..." class="input" type="text">
            <input name="email" placeholder="Email..." class="input" type="text">
            <input name="addnumber" placeholder="House Number/Name..." class="input" type="text">
            <input name="addstreet" placeholder="Street name..." class="input" type="text">
            <input name="addpostcode" placeholder="Postcode" class="input" type="text">
            <input name="contact" placeholder="Contact number..." class="input" type="text">
            <input name="password" placeholder="Password..." class="input" type="password">
            <input name="password_confirmation" placeholder="Confirm password"..." class="input" type="password">
            <input class="submit" type="submit">
        </form>
        <a class="sign-in" href="/auth">SIGN UP TODAY</a>
    </div>

<%- include('../partials/footer.ejs') %>

</section>

