<%- include('../partials/header.ejs') %>

<form class="reg-form" method="POST" action="/register">
    <label for ="first_name">First Name:</label>
    <input name="first_name" class="input" type="text">
    <label for ="surname">Surname:</label>
    <input name="surname" class="input" type="text">
    <label for ="username">Username:</label>
    <input name="username" class="input" type="text">
    <label for ="addnumber">House Number/Name:</label>
    <input name="addnumber" class="input" type="text">
    <label for ="addstreet">Street Name:</label>
    <input name="addstreet" class="input" type="text">
    <label for ="addpostcode">Postcode:</label>
    <input name="addpostcode" class="input" type="text">
    <label for ="contact">Mobile/Cell:</label>
    <input name="contact" class="input" type="text">
    <label for ="password">Password:</label>
    <input name="password" class="input" type="password">
    <label for ="password_confirmation">Confirm Password:</label>
    <input name="password_confirmation" class="input" type="password">
    <input class="submit" type="submit">
</form>

<%- include('../partials/footer.ejs') %>
