<%- include('../partials/header') %>

<section class="dashboard">
<%- include('../partials/admin-nav') %>

<h1>Dashboard</h1>

<div class="container">
    <div class="short"></div>
    <div class="wide"></div>
    <div class="tall"></div>
</div>

<%- include('../partials/footer') %>

</section>