<%- include('../partials/header') %>

<section class="pages">
<%- include('../partials/admin-nav') %>

<div class="container">
    <h1 class="title"><%=title%></h1>
    
    <div class="inner">

        <%- include('../partials/footer') %>

    </div>

</div>

</section>