<%- include('../partials/header') %>

<section class="internal">
<%- include('../partials/admin-nav') %>

<div class="container">
    <h1 class="title"><%=title%></h1>
    
    <div class="container-inner">
        <a href="/pages/create">
            Create new Slider
        </a>
        

        <%- include('../partials/footer') %>

    </div>

</div>

</section>