<div id="hamburger">
    <img src="/images/icons/icons8-menu-48.png">
</div>

<div class="nav-container">
    <div class="logo">
        <img src="/images/chubbypotato.png">
    </div>
        <nav>
            <a href="/dashboard">
                <img src="/images/icons/icons8-dashboard-64.png"> Dashboard
            </a>

            <a href="/sliders">
                <img src="/images/icons/icons8-video-gallery-64.png"> Sliders
            </a>
            <a href="/pages">
                <img src="/images/icons/icons8-page-64.png"> Pages
            </a>

            <a href="/news">
                <img src="/images/icons/icons8-news-64.png"> News
            </a>

            <a href="#">
                <img src="/images/icons/icons8-png-64.png"> Files
            </a>

            <a href="/settings">
                <img src="/images/icons/icons8-settings-64.png"> Settings
            </a>
            
            <form method="POST" action="/logout">
                <button class="logout-btn" type="submit">
                    <img src="/images/icons/icons8-logout-64.png"> Logout
                </button>
            </form>
        </nav>
    </div>
</div>