<div class="nav-container">
    <div class="logo">
        <img src="images/chubbypotato.png">
    </div>
        <nav>
            <a href="/dashboard">
                <img src="images/icons/icons8-dashboard-64.png"> Dashboard
            </a>

            <a href="/pages">
                <img src="images/icons/icons8-page-64.png"> Pages
            </a>

            <a href="#">
                <img src="images/icons/icons8-content-65.png"> Content
            </a>

            <a href="#">
                <img src="images/icons/icons8-news-64.png"> News
            </a>

            <a href="#">
                <img src="images/icons/icons8-png-64.png"> Files
            </a>

            <a href="#">
                <img src="images/icons/icons8-settings-64.png"> Settings
            </a>
        </nav>
    </div>
</div>