<div class="nav-container">
    <div class="logo">
        <img src="images/chubbypotato.png">
    </div>
        <nav>
            <li>
                <img src="images/icons/icons8-dashboard-64.png"> Dashboard
            </li>
            <li>
                <img src="images/icons/icons8-page-64.png"> Pages
            </li>
            <li>
                <img src="images/icons/icons8-content-65.png"> Content
            </li>
            <li>
                <img src="images/icons/icons8-news-64.png"> News
            </li>
            <li>
                <img src="images/icons/icons8-png-64.png"> Files
            </li>
        </nav>
    </div>
</div>