<nav class="user-nav">
    <% if(locals.pages != undefined) { %>
        <% pages.forEach((page) => { %>
            <a class="nav-items" href="page/<%= page.anchor %>">
                <%=page.name%>
            </a>
        <% }) %>
    <% } %>
</nav>