<nav class="user-nav">
    <a class="nav-items" href="/page/news">
        News
    </a>
    <% if(locals.pages != undefined) { %>
        <% pages.forEach((page) => { %>
            <a class="nav-items" href="/page/<%= page.anchor %>">
                <%=page.name%>
            </a>
        <% }) %>
    <% } %>
</nav>