/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* Colours */
/* Globals */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

#myVideo {
  position: relative;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
}

.text {
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.register {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #E739F5, #61D9DE);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-title {
  font-size: 3rem;
  text-align: center;
}
.register-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 2rem;
  border: solid black 2px;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
.register-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 300px;
}
.register-form .input {
  position: relative;
  padding: 0.5rem;
  margin: 0.5rem 0;
  height: 20px;
  background-color: #F2F2F2;
  border: none;
  border-bottom: 2px black solid;
  font-size: 1rem;
}
.register-form .submit {
  margin-top: 1rem;
  background-color: #61D9DE;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  font-family: "Bebas Neue", cursive;
}
.register-form .submit:hover {
  background-color: #E739F5;
}
.register .sign-in {
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  color: black;
  text-decoration: none;
  border-radius: 2rem;
}
.register .sign-in:hover {
  background-color: #61D9DE;
}

.login {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #E739F5, #61D9DE);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-title {
  font-size: 3rem;
  text-align: center;
}
.login-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 2rem;
  border: solid black 2px;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.login-form .login-email {
  position: relative;
}
.login-form .login-password {
  position: relative;
}
.login-form label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  z-index: 1;
}
.login-form label img {
  width: 30px;
  height: 30px;
  padding-left: 0.5rem;
}
.login-form .input {
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  margin: 1rem 0;
  height: 30px;
  background-color: #F2F2F2;
  border: none;
  border-bottom: 2px black solid;
  font-size: 1rem;
}
.login-form .submit {
  margin-top: 1rem;
  background-color: #61D9DE;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  font-family: "Bebas Neue", cursive;
}
.login-form .submit:hover {
  background-color: #E739F5;
}
.login .sign-up {
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  color: black;
  text-decoration: none;
  border-radius: 2rem;
}
.login .sign-up:hover {
  background-color: #61D9DE;
}/*# sourceMappingURL=app.css.map */