<%- include('./partials/header.ejs') %>
<section class="dynamic">
    <%- include('./partials/nav.ejs') %>

    <div class="title">
        <h1 class="title-txt">Latest News</h1>
    </div>
    <div class="content">
        <p class="content-text">Content</p>
    </div>

</section>

<%- include('./partials/footer.ejs') %>
