    <label for="name">Title:</label>
    <input type="text" name="name" id="pagesname" placeholder="<%=page.name%>">
    <label for="content">Content:</label>
    <textarea name="content" id="pagescontent" placeholder="<%=page.content%>"></textarea>
    <label for="name">Link (defaults to title if left blank):</label>
    <input type="text" name="anchor" id="pagesanchor" placeholder="<%=page.anchor%>">
    <label for="name">Image:</label>
    <input type="file" name="image" id="pagesupload">
    <% if (page.image) { %>
        <img src="<%=page.image%>" height="100" width="100" id="pagesimage">
    <% } else {%>
        <img src="/images/no-image.jpg" height="100" width="100" id="pagesimage">
    <% } %>
    <input class="submit" type="submit">
