<label for="title">Title:</label>
<input type="text" name="title" id="slidertitle" placeholder="<%= locals.slider != undefined ? slider.title : "" %>">
<label for="subtitle">subtitle:</label>
<input type="text" name="subtitle" id="slidersubtitle" placeholder="<%= locals.slider != undefined ? slider.subtitle : "" %>">
<label for="sliderImage">Images:</label>
<div name="sliderUpload" id="sliderUpload" class="dropzone" ></div>
<% if(create === false) { %>
    <% if(locals.slider != undefined && locals.slider.images != "") { %>
        <img src="<%= slider.images %>" height="100" width="100" id="slidersimage">
    <% } else { %>
        <img src="/images/no-image.jpg" height="100" width="100" id="slidersplaceholderimg">
    <% } %>
<% } %>
<input class="submit" type="submit">
