.create{
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    background: linear-gradient(45deg, $primary, $secondary);

    .container {
        width: 100%;
        height: 100vh;

        .title {
            text-align: center;
            width: 100%;
            font-size: 3rem;
            margin: 1rem 0;
        }

        &-inner {
            display: flex;
            flex-direction: column;
            padding: 0 0 2rem 2rem;
            width: calc(100% - 4rem);
            height: calc(100% - 8rem);
            grid-gap: 30px;
            align-items: center;
            
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: auto;
                min-width: 300px;

                .content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    textarea {
                        height: 300px;
                        width: 400px;
                    }

                }
        
                input {
                    position: relative;
                    padding: 0.5rem;
                    margin: 0.5rem 0;
                    height: 20px;
                    background-color: #F2F2F2;
                    border: none;
                    border-bottom: 2px black solid;
                    font-size: 1rem;
                }      
        
        
                .submit {
                    margin-top: 1rem;
                    background-color: $secondary;
                    padding: 0.2rem 1rem;
                    border-radius: 2rem;
                    font-family: 'Bebas Neue', cursive;
        
                    &:hover {
                        background-color: $primary;
                    }
        
                }
            }
        }

        footer {
            position: absolute;
            bottom: 0;
            right: 10px;

        }

    }


}