/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Colours */

$primary: #E739F5;
$secondary: #61D9DE;


/* Globals */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

.danger-empty {
    margin: auto auto;
    text-align: center;
    font-size: 2rem;
    background-color: #e0474c;
    width: 50%;
    height: auto;
    border: 2px black solid;
    border-radius: 5rem;



}

iframe {
    max-height: 500px;
    width: auto;
}